# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

.settings
.project
.classpath

# Ignore puzzle inputs
**/solutions/src/main/resources/inputs
